body {
	background-color: #f2f2f2;
}
.aa-header {
	margin-top: 5%;
	margin-left: 1%;
}
.login-box {
	margin-top: 10%;
	width: 30%;
}
.errors {
	color: red
}
 .panel-footer {
  word-wrap:break-word;
}
.image-post {
	max-height: 15em;
	max-width: 24em;
}
.panel-body {
	min-height: 18em;
}
.panel {
	margin-top: 1em;
}
